.AddEvent .input-group.date > div,
.AddEvent .input-group.date > div .react-datepicker-wrapper,
.AddEvent .input-group.date > div .react-datepicker-wrapper .react-datepicker__input-container {
    width: 100%;
}

.AddEvent.modal-content {
    height: 60%;
}

.AddEvent ul.react-datepicker__time-list {
    padding: 0 !important;
}

.AddEvent .all-day {
    padding-top: 2rem;
}